/* General styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f2;
    margin: 0;
    padding: 0;
}

h1, h4 {
    color: #333;
}

/* Buttons */
.btn {
    color: black;
    background-color: #C8A682;
    border: none;
}

.btn:hover {
    color: #F9F792;
    background-color: #A38B70;
    border-color: #A38B70;
}

.btn:focus, .btn:active {
    color: #FBE605;
    background-color: #A38B70;
    border-color: #A38B70;
}

/* Forms */
input, textarea, select {
    background-color: #F7F7F2;
    border: 1px solid #C8A682;
}

input:checked, textarea:checked, select:checked {
    background-color: #C8A682;
    border-color: #C8A682;
}

/* Cards */
.card {
    background-color: #F3EFE0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Tables */
.table thead {
    background-color: #C8A682;
}

.table tbody {
    background-color: #F3EFE0;
}

.icons {
    margin-right: 10px;
}



/* Links */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F9F792;
    text-decoration: underline;
}

a:focus, a:active {
    color: #FBE605;
    text-decoration: underline;
}

/* Typography */
.fs-15px {
    font-size: 13px;
}

/* Sidebar styles */
.sidebar {
    background-color: #A38B70; /* Updated to the specified color */
    color: black; /* Default text color */
    min-height: 100vh;
    padding: 20px;
}

.sidebar a {
    color: black; /* Default link color */
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px; /* Spacing between items */
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #F9F792; /* Hover background color */
    color: white; /* Hover text color */
    font-weight: bold; /* Bold text on hover */
    text-decoration: none; /* Remove underline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.sidebar a:focus, .sidebar a:active {
    background-color: #FBE605; /* Active/Selected background color */
    color: white; /* Active/Selected text color */
}

.sidebar .nav-link {
    font-size: 14px; /* Font size for menu items */
    font-weight: bold; /* Bold font for active/selected items */
}

.sidebar .nav-link i {
    margin-right: 10px; /* Spacing between icon and text */
}

.nav{--bs-nav-link-color: black;
    --bs-nav-link-hover-color:#FBE605 ;
}

#sidebar {
    background-color: #A38B70; /* Updated background color */
}

#main{
    flex-shrink: 100;
}