<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col">
             
            <h5 class="text-center p-2 m-3">All Lost/Found Reported Items</h5>
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <a href="lostFoundForm.html" class="btn btn-sm me-2">Report New Item</a>
                    </div>
                </div> 

                <table class="table table-hover table-responsive text-wrap">
                    <thead>
                    <tr>
                        <th scope="col" class="col-1">Type</th>
                        <th scope="col" class="col-2">Category</th>
                        <th scope="col" class="col-4">Title</th>
                        <th scope="col" class="col-2">Lost Date</th>
                        <th scope="col" class="col-2">Lost Location</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lost</td>
                        <td>Electronics</td>
                        <td>Missing Dell Laptop</td>
                        <td>2022-01-02</td>
                        <td>Library</td>
                        <td class="d-flex justify-content-center">
                            <a href="lostFoundDetails.html" class="icons btn-sm">
                                <i class="bi bi-eye text-primary"></i>
                            </a>
                            <a href="lostFoundUpdate.html" class="icons btn-sm">
                                <i class="bi bi-pencil-square text-success"></i>
                            </a>
                            <a href="" class="icons btn-sm">
                                <i class="bi bi-trash3 text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>