<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content" class="col">
    <h5 class="text-center p-2 m-3">Item Detail</h5>
    <div class="d-flex flex-column align-items-center justify-content-center mb-2">
        <div class="card px-4 w-50">
            <div class="card-body">

                <h6 class="mt-2">Item Information</h6>
                <div class="row py-2">
                    <div class="col-4">
                        Title
                    </div>
                    <div class="col-8">
                        <span>Dell Laptop</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Category
                    </div>
                    <div class="col-8">
                        <span>Electronics</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Date
                    </div>
                    <div class="col-8">
                        <span>2022/01/21</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4" >
                        Location
                    </div>
                    <div class="col-8">
                        <span>Hlaing Township</span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4">
                        Created By
                    </div>
                    <div class="col-8">
                        <span>War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Modified By
                    </div>
                    <div class="col-8">
                        <span>War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Detail Description
                    </div>
                    <div class="col-8">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>

                <h6>Contact Information</h6>
                <div class="row py-2">
                    <div class="col-4">
                        Name
                    </div>
                    <div class="col-8">
                        <span>War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Phone Number
                    </div>
                    <div class="col-8">
                        <span>09-123456789</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        E-mail
                    </div>
                    <div class="col-8">
                        <span>warwaraung@gmail.com</span>
                    </div>
                </div>

                <div class="row py-2 text-center">
                    <div class="col">
                        <a class="btn btn-sm w-100">Edit Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>