body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f2;
	margin: 0;
	padding: 0;
}

h1,
h4 {
	color: #333;
}

.btn {
	color: black;
	background-color: #c8a682;
	border: none;
}

.btn:hover {
	color: #f9f792;
	background-color: #a38b70;
	border-color: #a38b70;
}

.btn:focus,
.btn:active {
	color: #fbe605;
	background-color: #a38b70;
	border-color: #a38b70;
}

input,
textarea,
select {
	background-color: #f7f7f2;
	border: 1px solid #c8a682;
}

input:checked,
textarea:checked,
select:checked {
	background-color: #c8a682;
	border-color: #c8a682;
}

.card {
	background-color: #f3efe0;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

.card-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.card-text {
	font-size: 1rem;
	color: #555;
}

.table thead {
	background-color: #c8a682;
}

.table tbody {
	background-color: #f3efe0;
}

.icons {
	margin-right: 10px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #f9f792;
	text-decoration: underline;
}

a:focus,
a:active {
	color: #fbe605;
	text-decoration: underline;
}

.fs-15px {
	font-size: 13px;
}

.sidebar {
	background-color: #a38b70;
	color: black;
	min-height: 100vh;
	padding: 20px;
}

.sidebar a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
	background-color: #f9f792;
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar a:focus,
.sidebar a:active {
	background-color: #fbe605;
	color: white;
}

.sidebar .nav-link {
	font-size: 14px;
	font-weight: bold;
}

.sidebar .nav-link i {
	margin-right: 10px;
}

.nav {
	--bs-nav-link-color: black;
	--bs-nav-link-hover-color: #fbe605;
}

#sidebar {
	background-color: #a38b70;
}

#main {
	flex-shrink: 100;
}
