<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    
<div class="col">
    <h4 class="text-center p-2 m-3">Profile Information</h4>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card p-3" style="width: 30rem;">
            <div class="card-body">

                <div class="row p-2">
                    <div class="col-4">
                        Full Name
                    </div>
                    <div class="col-8" >
                        <span>War War Aung</span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-4">
                        Phone Number
                    </div>
                    <div class="col-8" >
                        <span>09-987654321</span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-4">
                        E-mail
                    </div>
                    <div class="col-8" >
                        <span>warwaraung@gmail.com</span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-4">
                        Address
                    </div>
                    <div class="col-8" >
                        <span>Street</span>
                        <span>City</span>
                    </div>
                </div>



                <div class="row p-2 text-center">
                    <div class="col">
                        <a class="btn w-100" href="profileForm.html">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>