<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap-icons/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div class="container-fluid">
        <div class ="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2" id="sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 min-vh-100">
                <div class="d-flex align-items-center pb-3 me-md-auto " style="width: 100%">
                    <img class="img-fluid ms-2" src="../../images/logo.png" alt="Logo" width="40" height="40">
                    <span class="fs-5 d-none d-sm-inline ms-3">Lost & Found</span>
                </div>
                <a href="../profile/profileInfo.html" class="nav nav-link px-0 align-middle w-100 border-bottom py-2">
                    <i class="fs-4 bi bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">Yanant</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="../LostFound/allLostFound.html" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-list-ol"></i> <span class="ms-1 d-none d-sm-inline">All Items</span></a>
                    </li>
                    <li>
                        <a href="../LostFound/lostFoundForm.html" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-file-text"></i> <span class="ms-1 d-none d-sm-inline">Report New Item</span></a>
                    </li>
                    <li>
                        <a href="../admin/allUsers.html" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">User Management</span> </a>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline">Log Out</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="main">
            <div class="row flex-nowrap">
                <div class="col px-0">
                    <div class="d-flex flex-wrap justify-content-center p-4">
                        <h1 class="align-center p-3 m-3">Get Your Belongings Back !</h1>
                    </div>

                    <div class="d-flex justify-content-center text-center gap-5">
                        <div class="card border border-dark">
                            <div class="card-body">
                                <h4 class="card-title mt-2"  th:text="${lostItemsCount}">12345</h4>
                                <p class="card-text mb-3"><i class="bi-bag-check fs-5 me-1"></i> Total Lost Items</p>
                                <a href="LostFound/allLostFound.html" class="btn btn-sm mt-3">See More</a>
                            </div>
                        </div>
                        <div class="card border border-dark">
                            <div class="card-body">
                                <h4 class="card-title mt-2" th:text="${foundItemsCount}">12345</h4>
                                <p class="card-text mb-3"><i class="bi-bag-check fs-5 me-1"></i> Total Found Items</p>
                                <a href="LostFound/allLostFound.html" class="btn btn-sm mt-3">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>  
        </div>
    </body>
</html>