<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
<div th:replace="fragments/sidebar :: *"></div>

<div layout:fragment="content"
class="d-flex flex-column align-items-center justify-content-center p-2 vh-100">
<div class="m-2 p-2">
   <img class="img-fluid" src="images/logo.png" alt="Logo" width="45" height="25">
   <span class="fs-5 fw-bold d-none d-sm-inline ms-2">Lost & Found System</span>
</div>
<div class="card px-0" style="width: 20rem;">
   <div class="card-body">
       <h5 class="card-title text-center mb-3">Log In</h5>

       <form action="" method="post">
           <div if="" class="alert alert-danger text-center">
                Invalid username or password
           </div>

           <div if="" class="alert alert-success text-center">
               Successfully logged out
           </div>

           <div class="mb-3">
               <div class="input-group input-group-sm">
                   <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" required>
               </div>
           </div>

           <div class="mb-3">
               <div class="input-group input-group-sm">
                   <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" required>
               </div>
           </div>

           <div class="mb-3">
               <button class="btn btn-primary btn-sm w-100" type="submit">Login</button>
           </div>

           <div class="fs-15px">
               Don't have an account? <a th:href="@{/register}">Register Here</a>
           </div>
       </form>
   </div>
</div>
</div>
</body>
</html>