<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
<div layout:fragment="content"
class="d-flex flex-column align-items-center justify-content-center p-2">
<div class="m-2 p-2">
   <img class="img-fluid" src="../images/logo.png" alt="Logo" width="45" height="25">
   <span class="fs-5 fw-bold d-none d-sm-inline ms-2">Lost & Found System</span>
</div>
<div class="card px-0" style="width: 24rem;">
   <div class="card-body">
       <h5 class="card-title text-center mb-3">Registration Form</h5>

       <form class="needs-validation px-3" action="" method="post">
           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="text" class="form-control" field="*{username}" placeholder="Username" aria-label="Username">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="password" class="form-control" field="*{password}" placeholder="Password" aria-label="Password">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="password" class="form-control" field="*{confirmedPassword}" placeholder="Confirm Password" aria-label="Confirm Password">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="text" class="form-control" field="*{fullName}"  placeholder="Full Name" aria-label="Full Name">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="text" class="form-control" field="*{phoneNumber}" placeholder="Phone Number" aria-label="Phone Number">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col input-group input-group-sm">
                   <input type="text" class="form-control" field="*{email}" placeholder="E-mail" aria-label="E-mail">
               </div>
           </div>

           <div class="row mb-3">
               <div class="col">
                   <button class="btn btn-success btn-sm w-100">Create Account</button>
               </div>
           </div>

           <div class="fs-15px">
               Already have an Account? <a href="login.html">Login Here</a>
           </div>
       </form>
   </div>
</div>
</div>
</body>
</html>